{% extends "base.html" %}
{% block title %}Predict Attrition{% endblock %}
{% block content %}
<h1>Laporan Analitik Produk</h1>
<div class="dashboard-container">
    <div class="iframe-wrapper">
        <iframe width="600" height="443" src="https://lookerstudio.google.com/embed/reporting/5cd217a6-64b3-4db6-a949-04f5d4f2afcc/page/NGQdF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
    </div>
</div>
{% endblock %}
